.container1 {
    width: 1226px;
    margin: 0 auto;
}

/* topbar部分开始 */
#topbar {
    position: relative;
    z-index: 2;
    height: 40px;
    font-size: 12px;
    background-color: #333;
    line-height: 40px;
}

/* 竖线统一样式 */
.topbar-inner span {
    color: #424242;
    margin: 3px;
}

/* topbar a标签统一样式 */
.topbar-inner a {
    color: #b0b0b0;
}

.topbar-inner a:hover {
    color: #fff;
}

/* topbar nav部分 */
.topbar-nav {
    float: left;
}

.topbar-nav ul li {
    display: inline-block;
}

/* topbar 购物车 */
.topbar-cart {
    position: relative;
    z-index: 3;
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 15px;
    text-align: center;
}

.topbar-cart a {
    position: relative;
    z-index: 4;
    display: block;
    height: 40px;
    line-height: 40px;
    background: #424242;
    transition: all .2s;
}

/* 购物车下拉menu */
.topbar-cart .cart-content {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 3;
    width: 316px;
    height: 0;
    color: #454545;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    line-height: 100px;
    overflow: hidden;
    transition: all .3s .3s;
}

.topbar-inner .car span {
    color: #b0b0b0;
    transition: all .3s .2s;
}

.topbar-cart .car {
    transition: all .3s .2s;
}

.topbar-cart:hover .car {
    color: #ff6700;
    background-color: #ffffff;
}

.topbar-cart:hover span {
    color: #ff6700;
}

#topbar .topbar-cart .car .gwc {
    vertical-align: middle;
    display: inline-block;
    margin-top: -3px;
    margin-right: 3px;
    font-size: 18px;
}

/* info部分 */
.topbar-info {
    float: right;

}

.topbar-info ul li {
    display: inline-block;
}

.topbar-info ul li a {
    padding: 0 4px;
}


/* 头部开始 */
#site-header {
    position: relative;
    z-index: 1;
    background-color: #fff;
    height: 100px;
}

.header-logo {
    float: left;
    margin-top: 24px;
    overflow: hidden;
}

.mi {
    position: relative;
    display: block;
    text-indent: -9999px;
    width: 55px;
    height: 55px;
}

.mi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../images/mi-logo.png) no-repeat center;
    transform: translateZ(0);
}

.mi::after {
    content: '';
    position: absolute;
    top: 0;
    left: -55px;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../images/mi-home.png) no-repeat center;
    transform: translateZ(0);
}




/* 头部gif部分 */
.header-gif a {
    float: left;
    margin-left: 15px;
    line-height: 100px;
}


/* 头部导航部分 */
.nav-list {
    float: left;
    font-size: 16px;
    overflow: hidden;
}

.nav-list .nav-items .text {
    display: block;
    padding: 40px 10px 38px;
    color: #333;
}

.nav-items {
    float: left;
}

.nav-list .nav-items .text:hover {
    color: #ff6700;
}

/* 导航下拉menu */
.children-list {
    width: 100%;
    height: 229px;
    position: absolute;
    top: 100px;
    left: 0;
    border-top: 1px solid #e0e0e0;
    display: none;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
    z-index: 20;
}

.children-active {
    display: block;
}

.children-list ul li {
    float: left;
    position: relative;
    width: 204px;
    height: 202px;
    padding: 35px 12px 0;
    text-align: center;
    z-index: 6;
}

.children-list p {
    font-size: 12px;
    line-height: 22px;
}

.children-list .p2 {
    color: #ff6700;
}

.children-list .p1 {
    margin-top: 12px;
}

.children-list ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 36px;
    width: 1px;
    height: 100px;
    background-color: #e0e0e0;
    z-index: 1;
}

.children-list ul .first::before {
    content: '';
    width: 0;
    height: 0;
}

.children-list ul li div {
    width: 160px;
    height: 110px;
}

.children-list ul li img {
    width: 160px;
    height: 100px;
}

/* 头部搜索框 */
.header-search {
    float: right;
    position: relative;
    width: 296px;
    height: 50px;
    margin-top: 25px;
}

.header-search input {
    display: block;
    width: 245px;
    height: 50px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 0 10px;
}



.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #e0e0e0;
    outline: none;
    background-color: #fff;
    display: inline-block;
    width: 52px;
    height: 50px;
    transition: all .2s;
    box-sizing: border-box;
    transition: all .3s;
    color: #616161;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
}


.header-search:hover input {
    border-color: #c1c1c1;
}

.header-search:hover .search-btn {
    border-color: #c1c1c1;
}

.search-btn:hover {
    border: 0;
    background-color: #ff6700;
    color: #fff;
}

/* 头部结束 */




/* 底部模块 */
.site-footer {
    background-color: #fff;
    margin-top: 15px;
}


.footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.footer-service .list-service {
    text-align: center;
    padding-bottom: 27px;
}

.footer-service .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    color: #616161;
    cursor: pointer;
    transition: all .3s;
}

.footer-service .list-service li:hover {
    color: #ff6700;
}

.list-service li em {
    margin-right: 2px;
    font-size: 22px;
    vertical-align: -2px;
}

.footer-service .list-service li:first-child {
    border: 0;
}

.footer-link {
    padding: 40px 0;
}

/* 导航 */
.footer-link dl {
    float: left;
    width: 160px;
    height: 112px;
}

.footer-link dl dt {
    margin: -1px 0 26px;
    color: #424242;
    line-height: 1.25;
}

.footer-link dl dd {
    margin: 10px 0;
    font-size: 12px;
}

.footer-link dl dd a {
    color: #757575;
}

.contact {
    text-align: center;
}

.contact h3 {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
    margin-bottom: 5px;
}

.contact p {
    margin-bottom: 5px;
    color: #616161;
    font-size: 12px;
}

.contact a {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    display: inline-block;
    border: 1px solid #ff6700;
    transition: all .4s;
    color: #ff6700;
}

.contact a:hover {
    background-color: #ff6700;
    color: #fff;
}

.follow {
    float: left;
    width: 264px;
    position: relative;
    color: #757575;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.follow i {
    font-size: 20px;
    margin-right: 5px;
    vertical-align: -3px;
    transition: all .4s;
    color: #616161;
}

.follow img {
    width: 126px;
    height: 126px;
    z-index: 2;
    position: absolute;
    top: 26px;
    right: 40px;
    display: none;
}

.follow i:hover {
    color: #ff6700;
}

/* 底部信息 版权 */
.site-info {
    background-color: #fff;
}

.site-info .logo-mi {
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
}

.info-text .sites {
    margin: 14px 0;
}

.info-text .sites a {
    margin: 0 3px;
    cursor: pointer;
    color: #757575;
    transition: color .4s;
}

.info-text .sites a:hover {
    color: #ff6700;
}

.info-text .sites span {
    vertical-align: 1px;
}

.copy {
    margin: 14px 0;
    color: #757575;
}

.base {
    padding-bottom: 30px;
}


/* 回到顶部 tool */
.home-tool-bar {
    position: fixed;
    /* bottom: 0; */
    bottom: 70px;
    right: 0;
    z-index: 99;
}

.home-tool-bar a {
    display: block;
    position: relative;
    display: block;
    width: 82px;
    height: 90px;
    margin-top: -1px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
    color: #757575;
}

.home-tool-bar a .icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto 8px;
    padding-top: 18px;
}

.home-tool-bar a .icon img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    transition: opacity .3s;
}


.home-tool-bar a .icon .active {
    opacity: 0;
}

.home-tool-bar a:hover .active {
    opacity: 1;
}

.home-tool-bar a:hover .static {
    opacity: 0;
}

.home-tool-bar a:hover span {
    color: #ff6700;
}

.home-tool-bar a .text {
    color: #757575;
    transition: color .3s;
}


/* 回顶部 */
.home-tool-bar .totop {
    margin-top: 16px;
    visibility: hidden;
}

/* top wrap图片 */
#top-wrap {
    height: 120px;
    width: 100%;
}

#top-wrap div {
    width: 100%;
    height: 100%;
    background: url(../images/top-wrap.jpg) no-repeat center;
    background-size: auto 100%;
}







/* 图片3d抬起效果补充 */
.phone-item:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0);
}

.brick-item:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0);
}

.video-item:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0);
}

.footer-link dl dd a:hover {
    color: #ff6700;
}